<mat-toolbar>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>Equipo Front</span>

  </mat-toolbar>

  <mat-sidenav-container>

    <!------sidenav, esto esta fijo----->
    <mat-sidenav #sidenav="matSidenav">

      <button mat-button routerLink="/cliente" class="menu-button">
        <mat-icon>person</mat-icon>
        <span>clientes</span>
      </button>

      <button mat-button routerLink="#" class="menu-button">
        <mat-icon>fastfood</mat-icon>
        <span>Productos</span>
      </button>

      <button mat-button routerLink="#" class="menu-button" >
        <mat-icon>attach_money</mat-icon>
        <span>Ventas</span>
      </button>


      <button mat-button class="menu-button" (click)="reportesIsExpanded = !reportesIsExpanded">
        <mat-icon *ngIf="!reportesIsExpanded">receipt</mat-icon>
        <mat-icon *ngIf="reportesIsExpanded">list</mat-icon>   <!-- para cambiar el ícono si se expande -->
        <span>Reportes</span>
      </button>

      <button *ngIf="reportesIsExpanded" mat-button routerLink="#" class="menu-button"
              (click)="reportesIsExpanded = !reportesIsExpanded">
        <mat-icon>navigate_next</mat-icon>
        <span>Reporte Resumido</span>
      </button>

      <button *ngIf="reportesIsExpanded" mat-button routerLink="#" class="menu-button"
              (click)="reportesIsExpanded = !reportesIsExpanded">
        <mat-icon>navigate_next</mat-icon>
        <span>Reporte Detallado</span>
      </button>

      <mat-divider></mat-divider>


    </mat-sidenav>

    <!----pantalla pricipal---->
    <mat-sidenav-content>
        <router-outlet></router-outlet> <!----- aqui se insertan las pantallas de crud de categorias, subcategorias, etc. ---->
    </mat-sidenav-content>
  </mat-sidenav-container>
